<div class="countdown-container">
    <app-fit-text [dependencies]="[title]">
        <h1>Time to {{ title }}</h1>
    </app-fit-text>
    <app-timer [targetDate]="date" />

    <div class="countdown-container-input">
        <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput [(ngModel)]="title" placeholder="Choose a title">
        </mat-form-field>
        <mat-form-field (click)="picker.open()" appearance="outline">
            <mat-label>Date</mat-label>
            <input matInput [(ngModel)]="date" [matDatepicker]="picker">
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
</div>