.timer {
    & h2 {
        font-weight: 300;
        margin-top: 1.71rem;
        margin-bottom: 0;
    }

    box-sizing: border-box;
    padding-left: .5rem;
    padding-right: .5rem;
    display: flex;
    justify-content: center;
}