main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  padding-left: 2rem;
  padding-right: 2rem;

  h1 {
    font-size: 6rem;
  }
}