.fit-text-main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.fit-text-container {
    width: fit-content;
    white-space: nowrap;
    overflow: hidden;
    justify-content: center;
}